= render partial: 'prototypes/header', locals: { row: @sort }

.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

= render partial: 'prototypes/header', locals: { prototypes: @prototypes}