= render partial: 'prototypes/header'
.container
  %h2.clearfix
    Tags List
  .row
    - @tags.each do |tag|
      %ul.col-md-4
        = link_to tag.name, tag_path(tag), class: 'btn btn-defaults', style: 'color: black'
